<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Notify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Toast.Properties.Settings>
            <setting name="MaxNumberNotification" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotifyUsingPrimaryScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BannerOnScreenTime" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </Toast.Properties.Settings>
        <Notify.Properties.Settings>
            <setting name="MaxNumberNotification" serializeAs="String">
                <value>1</value>
            </setting>
        </Notify.Properties.Settings>
    </userSettings>
</configuration>